<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OCUnitTestDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OCUnitTestDemoTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OCUnitTestDemoUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>638781452046A680001EF8A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6387815D2046A680001EF8A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6398CAEA207C5C2600ED693A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6398CAF8207CB0C800ED693A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
